{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<div class="container">

    <div class="col-md-12" style="position: relative; padding: 0; margin: 0;">
        <img src="static/aboutPic.png" alt="Picture" style="padding-bottom: 10px;padding-top: 10px;width: 100%; height: 35vh; object-fit: cover;">
        <div class="image-text top-left" style="position: absolute; top: 100px; left: 70px; color: #EEE5E9; font-size: 50px; text-align: center;">
            <b>About</b>
        </div> 
    </div>
    <div class = "row missionWords">
        <b>The Liberation and Safety of Indigenous Women </b><br>

Founded in 2024, this organization has a mission to uphold indigenous sovereignty, preserve cultural traditions, and combat the widespread issue of femicide. <br><br>

We define sovereignty as empowering indigenous communities to maintain control and protection over their ancestral lands. Defending territorial rights is paramount to our cause.<br><br>

As noted by decolonial feminist and scholar Nuria Ciofalo, 'Focusing on these vivencias (experiences) and convivial dialogues...women can build transformative partnerships for community healing, survival, and resistance' (65). We hold this notion as integral to sustaining indigenous cultures. Women must lead at the forefront of this movement.<br><br>

Our organization stands firmly against the rampant violence and killings decimating indigenous women across nations. Through advocacy, grassroots initiatives, and legal reforms, we strive to dismantle systemic injustices and ensure the liberation and safety of indigenous women in their homelands.<br><br><br>

<em><b>La Liberación y Seguridad de las Mujeres Indígenas</b></em> <br>

<em>Fundada en 2024, esta organización tiene como misión defender la soberanía indígena, preservar las tradiciones culturales y combatir el grave problema del feminicidio.</em> <br>

<em>Definimos la soberanía como el empoderamiento de las comunidades indígenas para mantener el control y la protección sobre sus tierras ancestrales. La defensa de los derechos territoriales es fundamental para nuestra causa. </em><br>

<em>Como señala la feminista decolonial y académica Nuria Ciofalo, 'Centrándose en estas vivencias y diálogos convivenciales... las mujeres pueden construir alianzas transformadoras para la curación comunitaria, la supervivencia y la resistencia' (65). Consideramos esta noción como fundamental para sostener las culturas indígenas. Las mujeres deben liderar en el frente de este movimiento.</em> <br>

<em>Nuestra organización se opone firmemente a la violencia desenfrenada y los asesinatos que diezman a las mujeres indígenas en todas las naciones. A través de la defensa, iniciativas de base y reformas legales, nos esforzamos por desmantelar las injusticias sistémicas y garantizar la liberación y seguridad de las mujeres indígenas en sus tierras natales.</em><br>

    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="static/femicideTab.jpeg" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="static/femicideTab.jpeg" alt="Image 2" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}
