{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<div class="container">
 
    <div class="col-md-12" style="position: relative; padding: 0; margin: 0;">
        <img src="static/aboutPic.png" alt="Picture" style="padding-bottom: 10px;padding-top: 10px;width: 100%; height: 35vh; object-fit: cover;">
        <div class="image-text top-left" style="position: absolute; top: 100px; left: 70px; color: #EEE5E9; font-size: 50px; text-align: center;">
            <b>Acerca</b>
            <button class="custom-button" style="color: #EEE5E9;" onclick="window.location.href='/about'">in english</button>
        </div> 
    </div> 
    <div class = "row missionWords">
        <b>La Liberación y Seguridad de Las Mujeres Indígenas (The Liberation and Safety of Indigenous Women) </b><br>
        Femicidio, un término acuñado por Diane E. H. Russell, es "...el asesinato de una o más mujeres por uno o más hombres porque son mujeres (Russell)(footnote1)." <br><br>

        Fundada en 2024, esta organización tiene como misión defender la soberanía indígena, preservar las tradiciones culturales y combatir el grave problema del femicidio. <br><br>
        
        Definimos la soberanía como el empoderamiento de las comunidades indígenas para mantener el control y la protección sobre sus tierras ancestrales. Defender los derechos territoriales es fundamental para nuestra causa. <br><br>
        
        Como señala la feminista decolonial y académica Nuria Ciofalo, "Centrándose en estas vivencias (experiencias) y diálogos convivenciales...las mujeres pueden construir asociaciones transformadoras para la curación comunitaria, la supervivencia y la resistencia" (65)(footnote2). Sostenemos esta noción como fundamental para sostener las culturas indígenas. Las mujeres deben liderar en la vanguardia de este movimiento. <br><br>
        
        Nuestra organización se opone firmemente a la violencia desenfrenada y los asesinatos que diezman a las mujeres indígenas en todo el mundo. A través de la defensa, iniciativas de base y reformas legales, nos esforzamos por desmantelar las injusticias sistémicas y garantizar la liberación y seguridad de las mujeres indígenas en sus tierras ancestrales. <br><br><br>

    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="static/femicideTab.jpeg" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="static/femTimeline.jpeg" alt="Image 2" class="img-fluid">
        </div>
    </div>
</div>
<div class="row sourcesBckgd subInfo" style="padding-left: 10px;">
    <div>   
        <footer>
            <div id="footnotes">
              <p>Footnotes</p>
              <ol>
                <li id="fn1"> Russell, Diana E. H. Defining Femicide, 26 Nov. 2012, www.dianarussell.com/f/Defining_Femicide_-_United_Nations_Speech_by_Diana_E._H._Russell_Ph.D.pdf.</li>
                <li id="fn2">Ciofalo, Nuria. “Indigenous women’s ways of knowing and healing in Mexico.” Women &amp; Therapy, vol. 41, no. 1–2, 9 June 2017, pp. 52–68, https://doi.org/10.1080/02703149.2017.1323478. 
                </li>
              </ol>
            </div>
          </footer>
</div>

{% endblock %}
