{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<div class="container"> 
<div class="col-md-12" style="position: relative; padding: 0; margin: 0;"></div>
    <img src="static/getInvolved.png" alt="Picture" style="padding-bottom: 10px;padding-top: 10px;width: 100%; height: 35vh; object-fit: cover;">
    <div class="image-text top-left" style="position: absolute; top: 190px; left: 240px; color: #EEE5E9; font-size: 50px; text-align: center;">
        <b>Who We Are</b>
    </div> 
</div>

<div class="row pressSubHeading" style="color: #636940;">
   Why is it important to us?:
</div>
<div class="row" style="padding-top:10px; padding-bottom:20px;color: #636940;">
    The Indigenous women of Mexico inspire us to create a resource that not only educates but also fosters an understanding and appreciation for their diverse cultures and traditions. Through our platform, we aim to provide a space where people can learn about Indigenous women's deeply impactful practices and gain insight into the systemic challenges they have faced and continue to confront.<br>
 
Our mission is rooted in the belief that it is imperative to amplify and protect the voices of Indigenous women. By elevating their narratives, experiences, and struggles, we strive to challenge dominant narratives and dismantle systems of oppression that have historically silenced and marginalized Indigenous women.<br>

We are dedicated to shedding light on the strength, resilience, and cultural contributions of Indigenous women in Mexico.<br>
</div>
<div class="row container" style="padding-bottom:30px">
    <div class="col-md-2">
        <a href="/feltPower_en">
            <img src="/static/feltPower.png" class="smallImgs">
            <div class="image-text">
                Felt Power Theory
            </div>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a href="/gender_en">
            <img src="/static/genderMach.png" class="smallImgs">
            <div class="image-text">
                Gender and Machismo
            </div>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a href="/rituals_en">
            <img src="/static/lineDrawing.png" class="smallImgs">
            <div class="image-text">
                Rituals and Practices
            </div>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a href="/mestizo_en">
            <img src="/static/mestizajeIndig.png" class="smallImgs">
            <div class="image-text">
                Mestizaje and Indigenismo
            </div>
        </a>
    </div>
</div>
</div>
{% endblock %}

