{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<div class="container">

    <div class="col-md-12" style="position: relative; padding: 0; margin: 0;">
        <img src="static/aboutPic.png" alt="Picture" style="padding-bottom: 10px;padding-top: 10px;width: 100%; height: 35vh; object-fit: cover;">
        <div class="image-text top-left" style="position: absolute; top: 100px; left: 70px; color: #EEE5E9; font-size: 50px; text-align: center;">
            <b>Sources</b>
        </div> 
    </div>
    <div class="row">
        <p><cite>Whittaker, C. (2020), <i>Felt power: Can Mexican Indigenous women finally be powerful?</i>. <i>Feminist Anthropology</i>, 1: 288-303. <a href="https://doi.org/10.1002/fea2.12016">https://doi.org/10.1002/fea2.12016</a></cite></p>

<p><a href="https://www.culturalsurvival.org/news/environmental-defender-guadalupe-campanur-tapia-murdered-mexico">https://www.culturalsurvival.org/news/environmental-defender-guadalupe-campanur-tapia-murdered-mexico</a></p>

<p><cite>Barrientos, Tania, and Estefania Mitre. “These Indigenous Mexican Women Are Reclaiming Their Power through Ancestral Practices.” <i>NPR</i>, NPR, 15 Oct. 2023. <a href="www.npr.org/sections/pictureshow/2023/10/15/1203299832/indigenous-mexican-women-reclaim-their-power">www.npr.org/sections/pictureshow/2023/10/15/1203299832/indigenous-mexican-women-reclaim-their-power</a>.</cite></p>

<p><cite>Edward Anthony Polanco; “I Am Just a Tiçitl”: Decolonizing Central Mexican Nahua Female Healers, 1535–1635. <i>Ethnohistory</i> 1 July 2018; 65 (3): 441–463. <a href="https://doi-org.ezproxy.cul.columbia.edu/10.1215/00141801-4451410">https://doi-org.ezproxy.cul.columbia.edu/10.1215/00141801-4451410</a></cite></p>

<p><cite>Ciofalo, Nuria. “Indigenous women’s ways of knowing and healing in Mexico.” <i>Women &amp; Therapy</i>, vol. 41, no. 1–2, 9 June 2017, pp. 52–68, <a href="https://doi.org/10.1080/02703149.2017.1323478">https://doi.org/10.1080/02703149.2017.1323478</a>.</cite></p>

<p><cite>Rousseau, Stéphanie, and Anahi Morales Hudon. “Indigenous Women’s Struggle for Autonomy.” <i>Indigenous Women’s Movements in Latin America: Gender and Ethnicity in Peru, Mexico, and Bolivia</i>, PALGRAVE MACMILLAN, 2019.</cite></p>

<p><cite>Frías, Sonia M. "Femicide and Feminicide in Mexico: Patterns and Trends in Indigenous and Non-Indigenous Regions." <i>Feminist Criminology</i>, 2021, <a href="https://doi.org/10.1177/15570851211029377">https://doi.org/10.1177/15570851211029377</a>. Accessed 5 Mar. 2024.</cite></p>

<p><cite>Decree by which various provisions of the Federal Penal Code, the General Law of Women's Access to a Life Free of Violence, the Organic Law of the Federal Public Administration and the Organic Law of the Attorney General's Office are reformed and added, Official Journal of the Federation [DOF] 14–06-2012(Mex).</cite></p>

<p><cite>Decreto por el que se reforman y adicionan diversas disposiciones del Código Penal Federal, de la Ley General de Acceso de las Mujeres a una Vida Libre de Violencia, de la Ley Orgánica de la Administración Pública Federal y de la Ley Orgánica de la Procuraduría General de la República, Diario Oficial de la Federación [DOF], 14-06-2012</cite></p>

<p><cite>Decree reforming Section II of Article 6 and Section V of Article 36, Official Gazette(GO), 19-02-2024(Mex).</cite></p>

<p><cite>Decreto por el que se reforma la fracción II del Artículo 6 y la fracción V del Artículo 36, Gaceta Oficial (GO), 19-02-2024</cite></p>

<p><cite>Hernández Gress, Eva Selene et al. “Femicide in Mexico: Statistical evidence of an increasing trend.” <i>PloS one</i> vol. 18,12 e0290165. 22 Dec. 2023, <a href="doi:10.1371/journal.pone.0290165">doi:10.1371/journal.pone.0290165</a></cite></p>
<p><cite>Visweswaran, Kamala. Un/common Cultures: Racism and the Rearticulation of Cultural Difference. Duke University Press, 2010.</cite></p>
<p><cite>Cumes Simón, Aura Estela. “La ‘India’ Como ‘Sirvienta’: Servidumbre Doméstica, Colonialismo, y Patriarcado En Guatemala.” Centro de Investigaciones y Estudios Superiores en Antropología Social, n.d. <a href="https://repositorio.ciesas.edu.mx/bitstream/handle/123456789/283/D259.pdf?sequence=1&isAllowed=y" target="_blank">https://repositorio.ciesas.edu.mx/bitstream/handle/123456789/283/D259.pdf?sequence=1&isAllowed=y</a>.</p>

<p><cite>“Feminismos Indígenas,” n.d. <a href="https://modii.org/feminismos-indigenas/#:~:text=(Indigenous%20feminisms),concepciones%20de%20los%20pueblos%20ind%C3%ADgenas" target="_blank">https://modii.org/feminismos-indigenas/#:~:text=(Indigenous%20feminisms),concepciones%20de%20los%20pueblos%20ind%C3%ADgenas</a>.</cite></p>

<p><cite>Galindo, Maria. “No Se Puede Descolonizar Sin Despatriarcalizar,” n.d. <a href="http://naturalezacienciaysociedad.org/wp-content/uploads/sites/3/2016/02/Maria-Galindo-No-se-puede-descolonizar-sin-despatriarcalizar.-Teoria-y-propuesta-de-la-despatriarcalizacion.pdf" target="_blank">http://naturalezacienciaysociedad.org/wp-content/uploads/sites/3/2016/02/Maria-Galindo-No-se-puede-descolonizar-sin-despatriarcalizar.-Teoria-y-propuesta-de-la-despatriarcalizacion.pdf</a>.</cite></p>

<p><cite>Ibarra, Analei, and Grethel Domenech. “Aura Cumes: ‘Ser Sujetas Dialógicas Demanda Una Escucha.’” Rialta, n.d. <a href="https://rialta.org/aura-cumes-ser-sujetas-dialogicas-demanda-una-escucha/" target="_blank">https://rialta.org/aura-cumes-ser-sujetas-dialogicas-demanda-una-escucha/</a>.</cite></p>

<p><cite>modii. “Territorio-Cuerpo-Tierra,” n.d. <a href="https://modii.org/territorio-cuerpo-tierra/" target="_blank">https://modii.org/territorio-cuerpo-tierra/</a>.</p>
   
</div>
</div>

{% endblock %}